/* strat with nav bar */
.navbar {
    margin-bottom: -2px;
    min-height: 0px;
    height: 0px;
    position: relative;
    z-index: 2;
} 
.navbar-brand {
    font-size: 35px;
    text-transform: uppercase;
    margin: 10px;
    color: #fff;
    font-family: tahoma, arial;
    letter-spacing: 3px;
}
.navbar-brand:hover,
.navbar-brand:focus {
    color: #8aba33;
}
.navbar-nav>li>a {
    color: #fff;
    font-size: 18px;
    font-family: tahoma, arial;
    margin: 10px;
}
.navbar-nav {
    margin-top: 5px;
}
.navbar-nav li a:hover,
.navbar-nav li a:focus {
    background: none;
}
.navbar-nav li a:hover,
.navbar-nav li a:focus {
    color: #8aba33;
}
.icon-bar {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    width: 25px;
    height: 4px;
    border-radius: 10px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 5px;
}
.navbar-toggle {
    padding: 14px 10px;
    margin-top: 10px
}
/* end with nav bar */




/* start with header */
.header {
    height: 100%;
}
.header .bxslider {
    height: 100%;
}
.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.header .bx-viewport {
    height: 100% !important;
}
.header .bx-wrapper {
    box-shadow: none;
    border: 0;
    background: none;
    text-align: center;
    height: 100%;
}
.header .bxslider li {
    display: block;
}
.header .bxslider li img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}
/* end with header */




/* start with about Us section */
.aboutUs {
    margin-top: 30px;
}
.aboutUs h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.aboutUs .about {
    display: none;
}
.aboutUs .about i {
    float: left;
    color: #5e8910;
}
.aboutUs .about .info {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    font-family: tahoma, arial;
}
.aboutUs .about .info h3 {
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 40px;
    padding-top: 15px;
}
.aboutUs .about .info p {
    text-align: justify;
    font-size: 16px;
}
hr {
    border: 1px solid #8aba33;
    margin: 40px 0px 20px 0px;
    opacity: 0.7;
    display: none;
}
/* end with about us section */




/* start with services section */
.services {
    font-family: tahoma, arial;
    margin-bottom: 50px;
}
.services h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.services p {
    text-align: justify;
    font-size: 16px;
    margin-left: 35px;
    padding-right: 20px;
}
.services button {
    padding: 10px 20px;
    background: none;
    color: #8aba33;
    border: 1px solid #8aba33;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.services button.selective {
    background-color: #8aba33;
    color: #fff;
}
.services .item {
    border: 2px solid #eee;
    box-shadow: 1px 1px 1px #eee;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.services .item:hover {
    transform: scale(0.98);
}
.services .item .pic {
    position: relative;
}
.services .item .pic img {
    
}
.services .item .pic span {
    position: absolute;
    top: 165px;
    left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #5e8910;
}
.services .item .txt {
    margin-bottom: 30px;
}
.services .item .txt h3 {
    margin-left: 10px;
    font-weight: bold;
    color: #5e8910;
    text-align: left;
}
.services .item .txt p {
    margin: 10px;
    text-align: justify;
    font-size: 16px;
}
.services .mix {
    display: none;
}
/* end with services section */




/* start with contact us section */
.contact-us {
    background: url('../image/Contact.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    width: 100%;
}
.contact-us .fields {
    min-height: 500px;
    padding-bottom: 50px;
    padding-top: 30px;
}
.contact-us .fields h1, .contact-us .fields p, .contact-us .fields i {
    color: #fff;
}
.contact-us .fields p {
    margin-bottom: 50px;
    margin-top: 30px;
    font-family: tahoma, arial;
}
.contact-us .fields .form-group textarea {
    height: 108px;
    width: 100%;
    margin-bottom: 10px;
    font-family: tahoma, arial;
}
.contact-us .fields .form-group input,
.contact-us .fields .form-group textarea {
    background: none;
    color: #fff;
}
/*    background: rgba(82,78,78,0.5);
    color: #fff;
    border: none;
*/
/* end with contact us section */




/* start with footer */
footer {
    background-color: #252e30;
    color: #fff;
    font-family: tahoma, arial;
    padding-top: 20px;
    padding-bottom: 30px;
}
footer a {
    color: #aaa;
}
footer a:hover {
    color: #fff;
}
footer h3 {
    color: #fff;
    letter-spacing: 2px;
    margin: 30px 0 20px 0;
    font-size: 30px;
}
footer .three-columns {
    overflow: hidden;
}
footer .three-columns li {
    width: 25%;
    float: left;
    padding: 10px 0;
}
footer ul img {
    width: 40px;
    height: 40px;
}
footer .social-list {
    overflow: hidden;
    margin: 20px 0 10px 0;
}
footer .social-list li {
    float: left;
    padding: 5px;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
footer .social-list li:hover {
    opacity: 1;
}
footer .media .media-left i {
    margin: auto 10px;
    padding: 2px;
}
footer .hot p {
    font-size: 50px;
}
footer .copyright {
    background-color: #191f21;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 30px;
}
footer .copyright span {
    font-weight: bold;
}
/* end with footer */






/* start with media query */

/* navbar media */
@media (max-width : 768px) {

    .navbar-nav li a:hover,
    .navbar-nav li a:focus {
        background-color: #20282b;
    }
    
    .navbar-nav {
        background-color: #191f21;
        margin: 12px;
    }
    
    .navbar-nav>li>a {
        font-weight: bold;
        font-size: 12px;
    } 
    
    .navbar-collapse {
        border-top: 0.01px solid #fff;
    }
}


/* about us media */
@media (max-width : 780px) {
    .aboutUs {
        margin-top: -50px;
    }
    .aboutUs h2 {
        font-size: 35px;
    }
    .aboutUs .about .info h3 {
    font-size: 20px;
    }
}
@media (max-width : 768px) {
    .aboutUs {
        margin-top: -90px;
    }
}
@media (max-width : 700px) {
    .aboutUs {
        margin-top: -140px;
    }
}
@media (max-width : 600px) {
    .aboutUs {
        margin-top: -180px;
    }
}
@media (max-width : 480px) {
    .aboutUs {
        margin-top: -260px;
    }
}
@media (max-width : 400px) {
    .aboutUs {
        margin-top: -320px;
    }
}


/* service media */
@media (max-width : 1199px) {
    .services .item .pic span {
        top: 125px;
    } 
}
@media (max-width : 991px) {
    .services .item .pic span {
        top: 150px;
    } 
}
@media (max-width : 767px) {
    .services .item {
        width: 370px;
        margin: 15px auto;
    }
    .services .item .pic span {
        top: 170px;
    }
    .services h2 {
    font-size: 25px;
    }
}
@media (max-width : 450px) {
    .services .item {
        width: 90%;
    }
    .services .item .pic span {
        top: 125px;
    }
}

/* footer media query */
@media (max-width : 767px) {
   footer h3 {
        font-size: 22px;
    }
    footer .hot p {
        font-size: 30px;
    }
}

/* end with media query */






/* start with scroll to button */
#scroll-top {
    width: 45px;
    height: 40px;
    text-align: center;
    font-size: 27px;
    color: #FFF;
    background-color: #5e8910;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    bottom: 15px;
    right: 15px;
    display: none;
}
/* end with scroll to button */